{% load static %}
<html>
    <head>
        <title>Django blog</title>>
        <link href="{% static 'css/base.css'%}" rel="stylesheet">
    </head>
    <body>
        <div>
            <header>
                <div class="nav-left">
                    <h1><a href="{% url 'home' %}">Django blog</a></h1>
                </div>
            </header>
            {% if user.is_authenticated %}
                <p>Hi {{ user.username }}!</p>
                <p><a href="{% url 'logout' %}">Log out</a></p>
            {% else %}
                <p>You are not logged in.</p>
                <a href="{% url 'login' %}">Log In</a>
            {% endif %}
        {% block content %}
        {% endblock content %}
        </div>
    </body>
</html>
