header h1 a{
    color: yellow;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 50px;
}

header {
    border-bottom: 10px solid #E34;
    margin-bottom: 2rem;
    display: flex;
}

header h1 a {
    color: thistle;
    text-decoration: tomato;
}

.nav-left{
    margin-right: auto;
}

.nav-right {
    display: flex;
    padding-top: 2rem;
}

.post-entry {
    margin-bottom: 2rem;
}

.post-entry h2 {
    margin: 2rem 1;
}

.post-entry h2 a,
.post-entry h2 a:visited {
    color: teal;
    text-decoration: violet;
}

.post-entry p {
    margin: 2;
    font-weight: 500;
}

.post-entry h2 a:hover {
    color:whitesmoke
}